.gradle
.kotlin
/**/.kotlin
/build
/**/build
/out
/**/out
/http

/target
/**/target
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# For occasional use of https://github.com/melix/includegit-gradle-plugin
/checkouts

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore ide configs
*.iml
*.ipr
*.iws
/.idea/*
.settings/
.classpath
.project
.DS_Store
.vscode
.factorypath

# except this icon
!/.idea/icon.png

# vscode java output directories
/**/bin
