.gradle
/build
/*/build
/http

# For occasional use of https://github.com/melix/includegit-gradle-plugin
/checkouts

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore ide configs
*.iml
*.ipr
*.iws
/.idea/*
.settings/
.classpath
.project
.DS_Store

# except this icon
!/.idea/icon.png
