# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will build a Java project with Gradle and
# cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
  workflow_call: # allow this workflow to be called by other workflows

concurrency:
  # On master/release, we don't want any jobs cancelled
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/70972844/1261287
  group: ${{ github.ref }}-ci
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    strategy:
      matrix:
        java-version: [11, 17]
      fail-fast: false

    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
      with:
        # We need Java 17 for the build, so we install it always
        java-version: |
          ${{ matrix.java-version }}
          17
        distribution: 'temurin'
    - name: Setup Go environment
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: '1.24.x'

    # at some point this should just be replaced with something that can bring up a sigstore test env
    - name: Install Fulcio
      run: go install github.com/sigstore/fulcio@main

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b # v4.3.0

    # if you need to skip staging due to flakiness use "-PskipStaging"
    - name: Test sigstore-java
      run: ./gradlew build -Porg.gradle.java.installations.auto-download=false -PjdkTestVersion=${{ matrix.java-version }}

    - name: Ensure sigstore-java self signing still works
      if: ${{ !github.event.pull_request.head.repo.fork }}
      run: ./gradlew sigstore-java:publishToMavenLocal -Prelease -PskipPgpSigning

    - name: Test sigstore-java/sandbox
      run: |
        cd sandbox
        ./gradlew build
