name: Conformance Tests

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  conformance:
    strategy:
      matrix:
        java-version: [11, 17]
      fail-fast: false

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'

      - name: Build sigstore-java
        uses: gradle/gradle-build-action@ef76a971e2fa3f867b617efd72f2fbd72cf6f8bc # v2.8.0
        with:
          arguments: :sigstore-cli:build

      - name: Unpack sigstore-java distribution
        run: tar -xvf ${{ github.workspace }}/sigstore-cli/build/distributions/sigstore-cli-*.tar --strip-components 1

      - uses: sigstore/sigstore-conformance@064fb32a890c30235f305281f3509c5e65e6f9e5 # tag=v0.0.4
        with:
          entrypoint: ${{ github.workspace }}/bin/sigstore-cli
