name: Examples

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  examples-release:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Build and run release examples on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-release
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    permissions:
      id-token: write

    steps:
    - name: Enable long paths in Git
      if: runner.os == 'Windows'
      run: git config --system core.longpaths true
      shell: bash

    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false

    - name: Setup Java
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 17
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

    - name: run examples against released sigstore
      working-directory: examples/hello-world
      shell: bash
      run: ./test.sh

  examples-dev:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    name: Build and run dev examples on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-dev
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    permissions:
      id-token: write

    steps:
    - name: Enable long paths in Git
      if: runner.os == 'Windows'
      run: git config --system core.longpaths true
      shell: bash

    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false

    - name: Setup Java
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: 21
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

    - name: install sigstore java development jars into mavenLocal
      run: ./gradlew publishToMavenLocal -Prelease -PskipSigning "-Porg.gradle.java.installations.auto-download=false"

    - name: calculate development version
      id: dev_version
      shell: bash
      run: |
        set -Exeo pipefail
        echo "version=$(grep "^version=" gradle.properties | cut -d'=' -f2)" >> $GITHUB_OUTPUT

    - name: run examples against development version
      working-directory: examples/hello-world
      shell: bash
      env:
        VERSION: ${{ steps.dev_version.outputs.version }}
      run: ./test.sh -Dsigstore.version=${VERSION}
