name: Release sigstore-java to Maven Central
on:
  workflow_dispatch:
  # user is expected to use a tag as the branch to run the action on

jobs:
  process-tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: process tag
        id: version
        run: |
          TAG=${{ github.ref_name }}
          echo "version=${TAG#"v"}" >> $GITHUB_OUTPUT
      - name: verify tag matches gradle version
        run: |
          set -Eeo pipefail
          version=$(grep "^version=" gradle.properties | cut -d'=' -f2)
          if [[ ! "$version" == "${{ steps.version.outputs.version }}" ]]; then
            echo "tagged version ${{ github.ref }} (as ${{ steps.version.outputs.version }}) does not match gradle.properties $version"
            exit 1
          fi

  ci:
    needs: [process-tag]
    permissions:
      id-token: write # To run github oidc tests
    uses: ./.github/workflows/ci.yaml

  build:
    permissions:
      id-token: write # To sign the artifacts
    runs-on: ubuntu-latest
    needs: [ci]
    steps:
      - name: checkout tag
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up JDK 11
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@31ae3562f68c96d481c31bc1a8a55cc1be162f83 # v3.4.1

      - name: Build, Sign and Release to Maven Central
        run: |
          ./gradlew clean :sigstore-java:publishMavenJavaPublicationToSonatypeRepository -Prelease
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_PASSPHRASE }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}

  create-release-on-github:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - name: Create release
        uses: softprops/action-gh-release@69320dbe05506a9a39fc8ae11030b214ec2d1f87 # v2.0.5
        with:
          tag_name: ${{ github.ref_name }}
          body: "See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md) for more details."
