name: TUF Conformance Tests
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request: {}
  workflow_dispatch: {}
  schedule:
    - cron: '30 6 * * 3'

jobs:
  conformance:
    strategy:
      matrix:
        java-version: [11, 17, 21]
      fail-fast: false

    concurrency:
      # On main/release, we don't want any jobs cancelled
      # On PR branches, we cancel the job if new commits are pushed
      # More info: https://stackoverflow.com/a/70972844/1261287
      group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}-${{ matrix.java-version }}
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2

      - name: Build tuf cli and server jar
        run: ./gradlew :tuf-cli:serverShadowJar -Porg.gradle.java.installations.auto-download=false

      - name: Start test server in background
        run: java -jar ${{ github.workspace }}/tuf-cli/build/libs/tuf-cli-server-all.jar &

      - name: Wait for server to be ready
        run: curl --retry-connrefused --retry 10 --retry-delay 1 --fail http://localhost:8080/

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'

      - uses: theupdateframework/tuf-conformance@500c525c9ce287a472fd334fe8d885cace667d32 # v2.4.0
        with:
          entrypoint: ${{ github.workspace }}/tuf-cli/tuf-cli-server
          artifact-name: test repositories for tuf-cli java ${{ matrix.java-version }}
